{% extends "layouts/private.j2" %}

{% set title = "Dashboard" %}

{% block content %}
<h1>
  Welcome to Passenger Dashboard
</h1>

<p>
  You can see summarized information about your vaults and passphrases here.
</p>

{% endblock %}