{% extends "layouts/private.j2" %}

{% set title = "Dashboard" %}

{% block head %}
<link rel="stylesheet" href="/static/design/dashboard.css">
{% endblock head %}

{% block content %}
<h1>Dashboard</h1>

<div id="count-container">
  <div class="box">
    <h2>Total Count</h2>
    <data>{{data.total_count}}</data>
  </div>

  <div class="box">
    <h2>Unique Passphrases</h2>
    <data>{{ data.unique_passphrases }}</data>
  </div>

  <div class="box">
    <h2>Unique platforms</h2>
    <data>{{ data.unique_platforms_count }}</data>
  </div>

  <div class="box">
    <h2>Average Length</h2>
    <data>{{ data.average_length }}</data>
  </div>

  <div class="box">
    <h2>Average Length</h2>
    <data>{{ data.average_length }}</data>
  </div>

  <div class="box">
    <h2>Percentage of Common</h2>
    <data>{{ data.percentage_of_common }}</data>
  </div>
</div>

<pre>{<br/>
&nbsp;&nbsp;most_accessed: {{data.most_accessed}},<br/>
&nbsp;&nbsp;common_by_platform: {{data.common_by_platform}},<br/>
&nbsp;&nbsp;most_common: {{data.most_common}},<br/>
&nbsp;&nbsp;strengths: {{data.strengths}},<br/>
&nbsp;&nbsp;weak_passphrases: {{data.weak_passphrases}},<br/>
&nbsp;&nbsp;medium_passphrases: {{data.medium_passphrases}},<br/>
&nbsp;&nbsp;strong_passphrases: {{data.strong_passphrases}}<br/>}</pre>

{% endblock %}