{% extends "layouts/private.j2" %}

{% set title = "Dashboard" %}

{% block head %}
<link rel="stylesheet" href="/static/design/dashboard.css">
{% endblock head %}

{% block content %}
<h1>Dashboard</h1>

<div id="count-container">
  <div class="box">
    <h2>Total Count</h2>
    <data>{{data.total_count}}</data>
  </div>

  <div class="box">
    <h2>Unique Passphrases</h2>
    <data>{{ data.unique_passphrases }}</data>
  </div>

  <div class="box">
    <h2>Unique platforms</h2>
    <data>{{ data.unique_platforms_count }}</data>
  </div>

  <div class="box">
    <h2>Average Length</h2>
    <data>{{ data.average_length }}</data>
  </div>

  <div class="box">
    <h2>Average Length</h2>
    <data>{{ data.average_length }}</data>
  </div>

  <div class="box">
    <h2>Percentage of Common</h2>
    <data>{{ data.percentage_of_common }}</data>
  </div>
</div>

<code>
{
  most_accessed: {{data.most_accessed}},
  common_by_platform: {{data.common_by_platform}},
  most_common: {{data.most_common}},
  strengths: {{data.strengths}},
  weak_passphrases: {{data.weak_passphrases}},
  medium_passphrases: {{data.medium_passphrases}},
  strong_passphrases: {{data.strong_passphrases}}
}
</code>

{% endblock %}