{% extends "layouts/private.j2" %}

{% set title = "Detective" %}

{% block head %}
<link rel="stylesheet" href="/static/design/detective.css" />
<script src="/static/components/detective-sheet.js" type="module"></script>
<script src="/static/components/passphrase-entry.js" type="module"></script>
<script src="/static/components/newspaper-page.js" type="module"></script>
{% endblock head %}

{% block content %}

{% if data.commonPassphrases|length != 0 %}
<detective-sheet title="Common Passphrases" description="These passphrases are used on multiple registries.">
  {% for items in data.commonPassphrases %}
  <div class="entry-group">
    {% for item in items %}
    <passphrase-entry platform=" {{item.platform}}" identity="{{item.identity}}" uuid="{{item.id}}"></passphrase-entry>
    {% endfor %}
  </div>
  {% endfor %}
</detective-sheet>
{% endif %}

{% if data.similarWithUsername|length != 0 %}
<detective-sheet title="Similar with Username"
  description="These passphrases contains or are similar with the username.">
  {% for item in data.similarWithUsername %}
  <passphrase-entry platform="{{item.platform}}" identity="{{item.identity}}" uuid="{{item.id}}"></passphrase-entry>
  {% endfor %}
</detective-sheet>
{% endif %}

{% if data.similarWithEmail|length != 0 %}
<detective-sheet title="Weak Passphrases" description="These passphrases are weak and can be easily guessed.">
  {% for item in data.weakPassphrases %}
  <passphrase-entry platform="{{item.platform}}" identity="{{item.identity}}" uuid="{{item.id}}"></passphrase-entry>
  {% endfor %}
</detective-sheet>
{% endif %}

{% if data.oldPassphrases|length != 0 %}
<detective-sheet title="Old Passphrases" description="These passphrases are old and should not be used anymore.">
  {% for item in data.oldPassphrases %}
  <passphrase-entry platform="{{item.platform}}" identity="{{item.identity}}" uuid="{{item.id}}"></passphrase-entry>
  {% endfor %}
</detective-sheet>
{% endif %}

<newspaper-page title="000webhost" name="000webhost"
  logo-path="https://haveibeenpwned.com/Content/Images/PwnedLogos/000webhost.png" description="In approximately March 2015, the free web hosting provider <a
  href='http://www.troyhunt.com/2015/10/breaches-traders-plain-text-passwords.html' target='_blank'
  rel='noopener'>000webhost suffered a major data breach</a> that exposed almost 15 million customer records. The data
was sold and traded before 000webhost was alerted in October. The breach included names, email addresses and plain text
passwords." domain="000webhost.com" pwn-count="14936670" breach-date="2015-03-01"
  data-classes='["Email addresses", "IP addresses", "Names", "Passwords"]'>
</newspaper-page>

{% endblock content %}