{% extends "base.j2" %}

{% block layouthead %}
<link rel="stylesheet" href="/static/design/private.css">
{% endblock layouthead %}

{% block layout %}

<body>
  {% block content %}{% endblock content %}
</body>
{% endblock layout %}