{% extends "base.j2" %}

{% block layouthead %}
<link rel="stylesheet" href="/static/design/private.css">
<script src="/static/auth/logout.js"></script>
{% endblock layouthead %}

{% block layout %}
{% include "layouts/partials/navbar.j2" %}

<body>
  {% block content %}{% endblock content %}
</body>
{% endblock layout %}