{% extends "base.j2" %}

{% block head %}
<link rel="stylesheet" href="/static/design/public.css">
{% endblock head %}

{% block layout %}

<body id="public">
  {% block content %}{% endblock content %}
</body>
{% endblock layout %}