<header>
  <div>
    <nav>
      <a href="/dashboard">Dashboard</a>
      <a href="/vault">Vault</a>
      <a href="/add">Add Passphrase</a>
      <a href="/detective">Detective</a>
      <a href="/settings">Settings</a>
    </nav>

    <nav>
      <button onclick="logout()">Logout</button>
    </nav>
  </div>
</header>