header {
  background-color: var(--leaf-500);
  color: var(--leaf-50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header a {
  color: var(--creamcan-500);
}
header a:hover {
  color: var(--creamcan-700);
}

body {
  max-width: 64rem;
  margin: 0 auto;
  width: 100%;
}
