header {
  background-color: var(--tuatara-200);
  color: var(--tuatara-800);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 64rem;
  margin: 0 auto;
}
header a {
  text-decoration: none;
  padding: 1rem;
  display: inline-flex;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--tuatara-1000);
  transition: all 0.1s ease-in-out;
}
header a:hover {
  background-color: var(--tuatara-50);
  color: var(--tuatara-500);
}

body {
  max-width: 64rem;
  margin: 0 auto;
  width: 100%;
  margin-top: 4rem;
  padding: 1rem;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  header {
    background-color: var(--tuatara-950);
    color: var(--tuatara-50);
  }
  header a:hover {
    background-color: var(--creamcan-900);
    color: var(--creamcan-50);
  }
}
